#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    background-color: white;
    border-radius: 16px;
}

.illustration {
    content: url("./assets/images/illustration-sign-up-mobile.svg");
    width: 100%;
}

.content  {
    padding: 5%;
    font-size: 16px;
    font-family: Roboto;
    color: hsl(234, 66%, 20%);

}

.content h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.content ul {
    list-style-type: none;
    line-height: 1.5em;
    padding-left: 0;
}

.content li {
    padding: 2% 3% 2% 0%;
}

.content li:before {
    content: url('./assets/images/icon-list.svg');
    float: left;
    padding-right: 5%;

}

form {
    padding: 5% 0;
}
form * {
    display: block;
}

form label {
    font-size: 0.9em;
    font-weight: 700;
}

form input {
    box-sizing: border-box;
    width: 100%;
    padding: 7%;
    font-size: 1em;
    border-color: hsl(231, 7%, 60%);
    border-width: 1px;
    margin: 4% 0;
    border-radius: 8px;
}

form input::placeholder {
    color: hsl(231, 7%, 60%);
}

.button {
    margin: 8% 0;
    width: 100%;
    padding: 8% 0;
    border-radius: 8px;
    border: none;
    color: white;
    background: hsl(234, 29%, 20%);
    text-align: center;
}

.button:hover {
    background: linear-gradient(to right, hsl(4, 100%, 67%), hsl(30, 100%, 67%));
    box-shadow: 0px 10px 30px 0px hsla(4, 100%, 67%, 50%);
    cursor: pointer;
}


.success-icon {
    content: url('assets/images/icon-success.svg')
}
#success {
    display: none;
    flex-direction: column;
    height: 85%;
    padding: 5%;
    background-color: white;
    border-radius: 16px;
}

#success .content {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
}

#success .button {
    position: relative;
    top: 50%;
}

@media screen and (min-width: 768px) {
    #form {
        flex-direction: row-reverse;
        max-width: 800px;
        padding: 4%;
    }
    
    .illustration {
        content: url('./assets/images/illustration-sign-up-desktop.svg');
        width: auto;
        height: 100%;
    }

    #success {
        display: none;
        margin: auto;
        padding: 2%;
        width: 50%;
    }

    #success .content {
        position: inherit;
        transform: none;
    }

    #success .button {
        top: 0%;
        width: 90%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% auto;
    }
}